@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Croissant+One&family=Paytone+One&family=Poppins:ital@0;1&family=Raleway:ital,wght@0,400;0,500;0,700;1,500&family=Roboto:ital,wght@1,300&display=swap');
/************************GENERAL************************************* */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(238,174,202);
    background: 
        radial-gradient(circle,
        rgba(238,174,202,0.9724264705882353) 30%,
        rgba(148,187,233,1) 98%); 
        position: relative; 
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    z-index: 3;
    padding: 30px;
} 

section{
    width: 900px;
    padding: 30px;
    overflow: hidden;
    background: rgb(242,242,242);
    background-color: rgba(156, 240, 227, 0.829);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border: 1px solid white;
    border-radius: 30px;
}

h1{
    font-family: 'Croissant One', cursive;
    margin-bottom: 30px;
    text-align: center;
    font-size: 3rem;
    color: #fbfafc;
    text-shadow: 0 13.36px 8.896px #7baab985,0 -2px 1px #ffffff94;
}

/***************TO DO LIST*********************************************** */
.task-list-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;   
}

.task-input{
    width: 90%;
    height: 39px;
    padding : 10px 5px;
    font-size: 1.1rem;
    border : 1px solid rgb(212, 186, 186);
    border-radius: 15px 0 0 15px;
    border: 1px solid white;
    box-shadow:
        0 20px 10px -20px rgba(0, 0, 0, 0.082) inset,
        0 -20px 10px -20px rgba(0, 0, 0, 0.171) inset;   
}

.task-input::placeholder{
    padding: 5px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem; 
 }

/***BTN*** */
.task-add-btn{
    color:white;
    font-size: 25px;
 }

.task-add-btn,.task-list button{
    width: 10%;
    height: 39px;
    background: rgb(207,78,116);
    background: 
        linear-gradient(0deg, 
        rgba(216, 100, 164, 0.301) 3%, 
        rgba(168, 83, 162, 0.589) 97%, 
        rgb(121, 20, 134) 100%);
    border-radius: 0 15px 15px 0;
    border: 1px solid white;
    cursor: pointer;
}

button:hover{
    background: rgb(207,78,116);
    background: 
        linear-gradient(0deg, 
        rgba(100, 6, 58, 0.363) 3%, 
        rgba(190, 62, 181, 0.685) 97%, 
        rgb(85, 64, 87) 100%);
}

.task-list button{
    color:rgb(211, 17, 17);
    font-size: 20px;
}
/******************** MESSAGE D'ERREUR********************************* */
.error-message{
    color:rgb(233, 6, 6);
    font-size: 0.8rem;
    padding-left: 10px;
}
/********************TO DO LIST DYNAMIQUE JSCRIPT********************************* */
.new-task-contenair{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.task-list{
    display: flex;
    animation: anime 0.8s linear; 
    height: 39px;
    margin-bottom: 8px;
}

@keyframes anime {
    from{
        transform :translateY(50px);
    }
}
/***checkbox*** */
.task-list input[type="checkbox"]{
    width: 5%;
    margin-right: 8px;
    margin-bottom: 2px;
}
.custom-checkbox {
    appearance: none;
    background-color: #c0c0c06e;
    border: 2px solid #fdfdfd; 
    border-radius: 50%; 
    cursor: pointer;    
}

.custom-checkbox:hover{
    background-color: #96969685;
    transform: scale(1.2);
}
  
.custom-checkbox:checked {
    background-color: #b8b6b66e; 
}
  
.custom-checkbox:checked::before {
    content: "\2713";
    font-size: 26px; 
    color: rgb(14, 63, 30); 
    padding:10px; 
}
/***add dynamique jscript*** */
.new-task-input{
    width: 84%;
    border: 1px solid white;
    padding :0px 10px;
    color: black;
    font-size: 1.3rem;
    border-radius: 15px 0px 0px 15px;
    background-color: rgba(212, 196, 223, 0.712);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; 
    cursor:pointer;
    overflow-wrap: break-word;    
}

.text-through{
    text-decoration: line-through;
}

/********************buble section ************************************/
.bubble *{
    position: absolute;
    z-index: 1;
}

img.bubble2,img.bubble3,img.bubble10{
    width: 60px;   
}

img.bubble13,img.bubble12{
    width: 100px;
}

img.bubble7,img.bubble8,img.bubble6{
    width: 200px;
}

img.bubble1,img.bubble11{
    width: 300px;
}

img.bubble1{
    top:200px;
    left: 350px;
    animation: vibration2 0.8s ease-in-out infinite; 
}

img.bubble2{
    top:450px;
    left: 390px;
    animation: vibration3 0.8s ease-in-out infinite;
}

img.bubble3{
    top:650px;
    right: 400px;
}

img.bubble4{
    width: 400px;
    top:-100px;
    right: 210px;
}

img.bubble5{
    width: 40px;
    top:450px;
    right: 310px;
    animation: vibration2 0.8s ease-in-out infinite;
}

img.bubble6{
    top:410px;
    right: 530px;
}

img.bubble7{
    top:710px;
    left: 730px;
    animation: vibration 0.8s ease-in-out infinite;
}

img.bubble8{
    top:510px;
    left: -80px;
    animation: vibration3 0.8s ease-in-out infinite;
}

img.bubble9{
    width: 600px;
    top:810px;
    left: 80px;
    animation: vibration3 0.8s ease-in-out infinite;
}

img.bubble10{
    top:890px;
    left: 890px;
}

img.bubble11{
    top:-230px;
    left: 90px;
    animation: vibration3 0.8s ease-in-out infinite;
}

img.bubble12{
    top:230px;
    left: 900px;
    animation: vibration3 0.8s ease-in-out infinite;
}

img.bubble13{
    top:830px;
    right: 150px;
    animation: vibration3 0.8s ease-in-out infinite;
    
}

@keyframes vibration {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-2px);
    }
    40% {
      transform: translateX(3px);
    }
    60% {
      transform: translateX(-2px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes vibration2 {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(2px);
    }
    40% {
      transform: translateX(-2px);
    }
    60% {
      transform: translateX(2px);
    }
    80% {
      transform: translateX(-3px);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes vibration3 {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(3px);
    }
    40% {
      transform: translateY(-2px);
    }
    60% {
      transform: translateY(2px);
    }
    80% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(0);
    }
  }